<%- include('head', { title: 'VolWeb' }) -%>
<script>
    function _(el) {
        return document.getElementById(el);
    }

    function progressHandler(event, progressBarId, statusId) {
        const percent = (event.loaded / event.total) * 100;
        _(progressBarId).value = Math.round(percent);
        _(statusId).innerHTML = Math.round(percent) + "% uploaded... please wait";
    }

    function completeHandler(event, progressBarId, statusId) {
        _(statusId).innerHTML = event.target.responseText;
        const progressBar = _(progressBarId);
        progressBar.value = 0;
        _(progressBarId).style.display = 'none';
    }

    function uploadFile(apiURL, filesField, progressBarId, statusId) {
        const files = _(filesField).files;

        const formdata = new FormData();
        for ( let i = 0; i < files.length; i++ ) {
            console.log(files[i]);
            formdata.append('files', files[i]);
        }
        const ajax = new XMLHttpRequest();
        _(progressBarId).style.display = 'block';
        ajax.upload.addEventListener("progress", (e) => progressHandler(e, progressBarId, statusId), false);
        ajax.addEventListener("load", (e) => completeHandler(e, progressBarId, statusId), false);
        ajax.addEventListener("error", (e) => errorHandler(e, statusId), false);
        ajax.addEventListener("abort", (e) => abortHandler(e, statusId), false);
        // Handle potential redirects
        ajax.onload = function() {
            if (ajax.responseURL) {
                window.location.href = ajax.responseURL;
            }
        };

        ajax.open("POST", apiURL);
        ajax.send(formdata);
    }
</script>
<a href="/api/actions/projects">Back to projects list.</a>
<br />
<h1>Vol Web</h1>
<h2>Project <%= project.name %>:</h2>
<p><b>Owner ID:</b> <%= project.userId %></p>
<p><b>Description:</b> <%= project.description %></p>

<br />
<h3 style="text-align: left">Volumes:</h3>
<button id="createVolumeToggle" onClick="(() => {
    const disp = document.getElementById('createVolume').style.display;
    document.getElementById('createVolume').style.display = disp === 'block' ? 'none' : 'block';
    document.getElementById('createVolumeToggle').textContent = disp === 'block' ? 'Add New Volume &darr;' : 'Add New Volume &uarr;';
    })()">Add New Volume &darr;</button>
<form id="createVolume" style="display: none" action="/api/actions/projects/<%= project.id %>/create-volume" method="post" enctype="multipart/form-data">
    <label for="name">Volume name:</label>
    <input type="text" name="name" /> <br />
    <br />
    <label for="description">Volume description:</label>
    <textarea name="description" rows="4" cols="25"></textarea>
    <input type="submit" value="Add" />
</form>
<hr />
<% for (const volume of volumes) { %>
    <p>
        <b>Volume:</b> <%= volume.name %>
        <a href="/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/delete">[X]</a>
    </p>
    <h4>Raw Data:</h4>
    <% if (!Object.hasOwn(volume, 'rawData') || volume.rawData == null) { %>
        <form method="POST" enctype="multipart/form-data" id="rawDataUpload">
            <label for="file">Select Raw Data:</label>
            <input type="file" id="rawDataFiles" name="files" accept="application/zip,.raw">
            <br>
            <br>
            <input
                    type="button"
                    onclick="uploadFile('/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/upload-raw-data', 'rawDataFiles', 'progressBarRawData', 'statusRawData')"
                    value = "Upload Raw Data to Server">
            <progress id="progressBarRawData" value="0" max="100" style="width:300px; display: none"></progress>
            <span id="statusRawData"></span>
        </form>
    <% } else { %>
        <a href="/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/raw-data"><%= volume.rawData.name %></a> ...
        <a href="/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/delete-raw-data">[X]</a>
    <% } %>
    <h4>Sparse Labels:</h4>
    <form method="POST" enctype="multipart/form-data" id="sparseLabelCreate">
        <label for="files">Raw Data:</label>
        <input type="file" id="createSparseLabelsFile" name="files" accept=".raw,application/zip">
        <input type="button" value="Create Sparse Labels from Raw Data">
        <span id="statusCreateSparseLabels"></span>
    </form>
    <br />
    <% if (!Object.hasOwn(volume, 'sparseLabels') || volume.sparseLabeledVolume == null) { %>
    <form method="POST" enctype="multipart/form-data" id="sparseLabelUpload">
        <label for="files">Select files:</label>
        <input type="file" id="sparseLabelsFiles" name="files" accept=".raw,application/zip">
        <input type="button" onclick="uploadFile('/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/upload-sparse-labels', 'sparseLabelsFiles', 'progressBarSparseLabels', 'statusSparseLabels')" value="Upload">
        <progress id="progressBarSparseLabels" value="0" max="100" style="width:300px;"></progress>
        <span id="statusSparseLabels"></span>
    </form>
    <% } else { %>
        <a href="/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/sparse_labels"><%= volume.sparseLabeledVolume.name %></a> ...
        <a href="/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/delete-sparse_labels">[X]</a>
    <% } %>
    <br />
    <hr />
    <h4>Pseudo Labels:</h4>
    <% if (!Object.hasOwn(volume, 'pseudoLabels') || volume.pseudoLabeledVolume == null) { %>
        <form method="POST" enctype="multipart/form-data" id="pseudoLabelUpload">
        <label for="files">Select files:</label>
        <input type="file" id="pseudoLabelsFiles" name="files" accept=".raw,application/zip" multiple>
        <input type="button" onclick="uploadFile('/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/upload-pseudo-labels', 'pseudoLabelsFiles', 'progressBarPseudoLabels', 'statusPseudoLabels')" value="Upload">
        <progress id="progressBarPseudoLabels" value="0" max="100" style="width:300px;"></progress>
        <span id="statusPseudoLabels"></span>
    </form>
    <br />
    <% } else { %>
        <a href="/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/pseudo_labels"><%= volume.pseudoLabeledVolume.name %></a> ...
        <a href="/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/delete-pseudo_labels">[X]</a>
        <br />
    <% } %>
    <hr />
<% } %>
<br />
<hr />

<hr />
<%- include('foot') -%>