<%- include('head', { title: 'VolWeb' }) -%>
    <script>
    </script>

    <h1>Vol Web</h1>
    <h2>Project <%= project.name %>:</h2>
    <p><b>Owner ID:</b> <%= project.userId %></p>
    <p><b>Description:</b> <%= project.description %></p>

    <br />
    <br />
    <a href="/api/actions/projects">Back to projects list.</a>
    <hr />
<%- include('foot') -%>