<%- include('head', { title: 'VolWeb' }) -%>
<%
getNameFromPath = function(path) {
    return path.replace(/^.*[\\/]/, '');
}
%>
<script>
    function _(el) {
        return document.getElementById(el);
    }

    function progressHandler(event, progressBarId, statusId) {
        const percent = (event.loaded / event.total) * 100;
        _(progressBarId).value = Math.round(percent);
        _(statusId).innerHTML = Math.round(percent) + "% uploaded... please wait";
    }

    function completeHandler(event, progressBarId, statusId) {
        _(statusId).innerHTML = event.target.responseText;
        const progressBar = _(progressBarId);
        progressBar.value = 0;
        _(progressBarId).style.display = 'none';
    }

    function uploadFile(apiURL, filesField, progressBarId, statusId) {
        const files = _(filesField).files;

        const formdata = new FormData();
        for ( let i = 0; i < files.length; i++ ) {
            console.log(files[i]);
            formdata.append('files', files[i]);
        }
        const ajax = new XMLHttpRequest();
        _(progressBarId).style.display = 'block';
        ajax.upload.addEventListener("progress", (e) => progressHandler(e, progressBarId, statusId), false);
        ajax.addEventListener("load", (e) => completeHandler(e, progressBarId, statusId), false);
        ajax.addEventListener("error", (e) => errorHandler(e, statusId), false);
        ajax.addEventListener("abort", (e) => abortHandler(e, statusId), false);
        // Handle potential redirects
        ajax.onload = function() {
            if (ajax.responseURL) {
                window.location.href = ajax.responseURL;
            }
        };

        ajax.open("POST", apiURL);
        ajax.send(formdata);
    }

    function getNameFromPath(path) {
        return path.replace(/^.*[\\/]/, '');
    }
</script>
<a href="/api/actions/projects">Back to projects list.</a>
<br />
<h1>Vol Web</h1>
<h2>Project <%= project.name %>:</h2>
<p><b>Owner ID:</b> <%= project.userId %></p>
<p><b>Description:</b> <%= project.description %></p>

<br />
<h3 style="text-align: left">Volumes:</h3>
<button id="createVolumeToggle" onClick="(() => {
    const disp = document.getElementById('createVolume').style.display;
    document.getElementById('createVolume').style.display = disp === 'block' ? 'none' : 'block';
    document.getElementById('createVolumeToggle').textContent = disp === 'block' ? 'Add New Volume &darr;' : 'Add New Volume &uarr;';
    })()">Add New Volume &darr;</button>
<form id="createVolume" style="display: none" action="/api/actions/projects/<%= project.id %>/create-volume" method="post" enctype="multipart/form-data">
    <label for="name">Volume name:</label>
    <input type="text" name="name" /> <br />
    <br />
    <label for="description">Volume description:</label>
    <textarea name="description" rows="4" cols="25"></textarea>
    <input type="submit" value="Add" />
</form>
<hr />
<% for (const volume of project.volumes) { %>
    <p>
        <b>Volume:</b> <%= volume.name %> (<%= volume.id %>)
        <a href="/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/delete">[X]</a>
    </p>
    <p>
        <a href="/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/test-tiff">Tiff Test</a>
    </p>
    <h4>Raw Data:</h4>
    <% if (volume.rawData != null) { %>
        <% if (volume.rawData.mrcFilePath != null) { %>
            <a href="/api/actions/projects/<%= project.id %>/volumeData/RawVolumeData/<%= volume.rawData.id %>/download-mrc-file"><%= getNameFromPath(volume.rawData.mrcFilePath) %></a> ...
            <a href="/api/actions/projects/<%= project.id %>/volumeData/RawVolumeData/<%= volume.rawData.id %>/delete-mrc-file">[X]</a>
            <br />
        <% } %>
        <% if (volume.rawData.rawFilePath != null) { %>
            <a href="/api/actions/projects/<%= project.id %>/volumeData/RawVolumeData/<%= volume.rawData.id %>/download-raw-file"><%= getNameFromPath(volume.rawData.rawFilePath) %></a> ...
            <a href="/api/actions/projects/<%= project.id %>/volumeData/RawVolumeData/<%= volume.rawData.id %>/delete-raw-file">[X]</a>
            <br />
        <% } %>
        <% if (volume.rawData.settingsFilePath != null) { %>
            <a href="/api/actions/projects/<%= project.id %>/volumeData/RawVolumeData/<%= volume.rawData.id %>/download-settings-file"><%= getNameFromPath(volume.rawData.settingsFilePath) %></a> ...
            <a href="/api/actions/projects/<%= project.id %>/volumeData/RawVolumeData/<%= volume.rawData.id %>/delete-settings-file">[X]</a><br />
        <% } %>
        <% if (volume.rawData.rawFilePath != null && volume.rawData.settingsFilePath != null) { %>
            <a target="_blank" href="/api/actions/projects/<%= project.id %>/volumeData/RawVolumeData/<%= volume.rawData.id %>/visualize">Visualize Raw Volume</a><br />
        <% } %>
    <% } %>
    <form method="POST" enctype="multipart/form-data" id="rawDataUpload">
        <label for="file">Select Raw Data Volume files:</label>
        <input type="file" id="rawDataFiles_<%= volume.id %>" name="files" accept="application/zip,.raw,.json" multiple>
        <input
                type="button"
                onclick="uploadFile('/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/raw-data/upload', 'rawDataFiles_<%= volume.id %>', 'progressBarRawData_<%= volume.id %>', 'statusRawData_<%= volume.id %>')"
                value = "Upload">
        <progress id="progressBarRawData_<%= volume.id %>" value="0" max="100" style="width:300px; display: none"></progress>
        <span id="statusRawData_<%= volume.id %>"></span>
    </form>
    <form method="POST" enctype="multipart/form-data" id="rawDataUpload">
        <label for="file">Select MRC file:</label>
        <input type="file" id="mrcFile_<%= volume.id %>" name="files" accept=".mrc">
        <input
            type="button"
            onclick="uploadFile('/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/raw-data/upload-mrc-file', 'mrcFile_<%= volume.id %>', 'progressBarMrcFile_<%= volume.id %>', 'statusMrcFile_<%= volume.id %>')"
            value = "Upload">
        <progress id="progressBarMrcFile_<%= volume.id %>" value="0" max="100" style="width:300px; display: none"></progress>
        <span id="statusMrcFile_<%= volume.id %>"></span>
    </form>
    <h4>Sparse Labels:</h4>
    <a href="/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/add-sparse-labeled-volume"><button>Add Sparse Labeled Volume</button></a>
    <br />
    <% for (const sparseLabeledVolume of volume.sparseVolumes) { %>
        <b>Sparse volume <%= sparseLabeledVolume.id %>:</b>
        <form method="POST" enctype="multipart/form-data">
            <label for="file">Select Sparse Labeled Volume files:</label>
            <input type="file" id="sparseLabeledVolumeFiles_<%= volume.id %>_<%= sparseLabeledVolume.id %>" name="files" accept="application/zip,.raw,.json" multiple>
            <input
                    type="button"
                    onclick="uploadFile('/api/actions/projects/<%= project.id %>/volumeData/SparseLabeledVolumeData/<%= sparseLabeledVolume.id %>/upload-files', 'sparseLabeledVolumeFiles_<%= volume.id %>_<%= sparseLabeledVolume.id %>', 'progressBarSparseLabeledVolume_<%= volume.id %>_<%= sparseLabeledVolume.id %>', 'statusSparseLabeledVolume_<%= volume.id %>_<%= sparseLabeledVolume.id %>')"
                    value = "Upload">
            <progress id="progressBarSparseLabeledVolume_<%= volume.id %>_<%= sparseLabeledVolume.id %>" value="0" max="100" style="width:300px; display: none"></progress>
            <span id="statusSparseLabeledVolume_<%= volume.id %>_<%= sparseLabeledVolume.id %>"></span>
        </form>
        <% if (sparseLabeledVolume.rawFilePath != null) { %>
            <a href="/api/actions/projects/<%= project.id %>/volumeData/SparseLabeledVolumeData/<%= sparseLabeledVolume.id %>/download-raw-file"><%= getNameFromPath(sparseLabeledVolume.rawFilePath) %></a> ...
            <a href="/api/actions/projects/<%= project.id %>/volumeData/SparseLabeledVolumeData/<%= sparseLabeledVolume.id %>/delete-raw-file">[X]</a>
            <br />
        <% } %>
        <% if (sparseLabeledVolume.settingsFilePath != null) { %>
            <a href="/api/actions/projects/<%= project.id %>/volumeData/SparseLabeledVolumeData/<%= sparseLabeledVolume.id %>/download-settings-file"><%= getNameFromPath(sparseLabeledVolume.settingsFilePath) %></a> ...
            <a href="/api/actions/projects/<%= project.id %>/volumeData/SparseLabeledVolumeData/<%= sparseLabeledVolume.id %>/delete-settings-file">[X]</a><br />
        <% } %>
        <% if (sparseLabeledVolume.rawFilePath != null && sparseLabeledVolume.settingsFilePath != null) { %>
            <a target="_blank" href="/api/actions/projects/<%= project.id %>/volumeData/SparseLabeledVolumeData/<%= sparseLabeledVolume.id %>/visualize">Visualize Raw Volume</a><br />
        <% } %>
    <% } %>
    <h4>Pseudo Labels:</h4>
    <a href="/api/actions/projects/<%= project.id %>/volume/<%= volume.id %>/add-pseudo-labeled-volume"><button>Add Pseudo Labeled Volume</button></a>
    <% for (const pseudoLabeledVolume of volume.pseudoVolumes) { %>
        <form method="POST" enctype="multipart/form-data">
            <label for="file">Select Pseudo Labeled Volume files:</label>
            <input type="file" id="pseudoLabeledVolumeFiles" name="files" accept="application/zip,.raw,.json" multiple>
            <input
                    type="button"
                    onclick="uploadFile('/api/actions/projects/<%= project.id %>/volumeData/PseudoLabeledVolumeData/<%= pseudoLabeledVolume.id %>/upload-files', 'pseudoLabeledVolumeFiles', 'progressBarPseudoLabeledVolume', 'pseudoSparseLabeledVolume')"
                    value = "Upload">
            <progress id="progressBarPseudoLabeledVolume" value="0" max="100" style="width:300px; display: none"></progress>
            <span id="pseudoSparseLabeledVolume"></span>
        </form>
        <% if (pseudoLabeledVolume.rawFile.rawFilePath != null) { %>
            <a href="/api/actions/projects/<%= project.id %>/volumeData/PseudoLabeledVolumeData/<%= pseudoLabeledVolume.id %>/download-raw-file"><%= getNameFromPath(pseudoLabeledVolume.rawFilePath) %></a> ...
            <a href="/api/actions/projects/<%= project.id %>/volumeData/PseudoLabeledVolumeData/<%= pseudoLabeledVolume.id %>/delete-raw-file">[X]</a>
            <br />
        <% } %>
        <% if (pseudoLabeledVolume.settingsFile.settingsFilePath != null) { %>
            <a href="/api/actions/projects/<%= project.id %>/volumeData/PseudoLabeledVolumeData/<%= pseudoLabeledVolume.id %>/download-settings-file"><%= getNameFromPath(pseudoLabeledVolume.settingsFilePath) %></a> ...
            <a href="/api/actions/projects/<%= project.id %>/volumeData/PseudoLabeledVolumeData/<%= pseudoLabeledVolume.id %>/delete-settings-file">[X]</a><br />
        <% } %>
        <% if (pseudoLabeledVolume.rawFile != null && pseudoLabeledVolume.settingsFile != null) { %>
            <a target="_blank" href="/api/actions/projects/<%= project.id %>/volumeData/PseudoLabeledVolumeData/<%= pseudoLabeledVolume.id %>/visualize">Visualize Raw Volume</a><br />
        <% } %>
    <% } %>
    <h4>Results:</h4>
    <% if (volume.rawData != null) { %>
        <% for (const result of volume.rawData.results) { %>
            <p>
                <b>Result id:</b> <%= result.id %>
                <a href="/api/actions/projects/<%= project.id %>/result/<%= result.id %>/delete">[X]</a><br />
                <a href="/api/actions/projects/<%= project.id %>/result/<%= result.id %>/download">Download</a><br />
                <b>Volume Data id:</b> <%= result.volumeDataId %><br />
                <b>Checkpoint id:</b> <%= result.checkpointId %><br />
            </p>
        <% } %>
    <% } %>
    <hr />
<% } %>
<br />
<hr />
<h3 style="text-align: left">Models:</h3>
<button id="createModelToggle" onClick="(() => {
    const disp = document.getElementById('createModel').style.display;
    document.getElementById('createModel').style.display = disp === 'block' ? 'none' : 'block';
    document.getElementById('createModelToggle').textContent = disp === 'block' ? 'Add New Model &darr;' : 'Add New Model &uarr;';
    })()">Add New Model &darr;</button>
<form id="createModel" style="display: none" action="/api/actions/projects/<%= project.id %>/create-model" method="post" enctype="multipart/form-data">
    <label for="name">Volume name:</label>
    <input type="text" name="name" /> <br />
    <br />
    <label for="description">Volume description:</label>
    <textarea name="description" rows="4" cols="25"></textarea>
    <input type="submit" value="Add" />
</form>
<% for (const model of project.models) { %>
    <p>
        <b>Model:</b> <%= model.name %> (<%= model.id %>)
        <a href="/api/actions/projects/<%= project.id %>/model/<%= model.id %>/delete">[X]</a>
    </p>
    <form method="POST" enctype="multipart/form-data">
        <label for="file">Select Checkpoint files:</label>
        <input type="file" id="checkpointFiles" name="files" accept=".ckpt" multiple>
        <input
                type="button"
                onclick="uploadFile('/api/actions/projects/<%= project.id %>/model/<%= model.id %>/add-checkpoint', 'checkpointFiles', 'progressBarCheckpoint', 'statusCheckpoint')"
                value = "Upload">
        <progress id="progressBarCheckpoint" value="0" max="100" style="width:300px; display: none"></progress>
        <span id="statusCheckpoint"></span>
    </form>
    <h4>Checkpoints:</h4>
    <% for (const checkpoint of model.checkpoints) { %>
        <a href="/api/actions/projects/<%= project.id %>/model/<%= model.id %>/checkpoint/<%= checkpoint.id %>/download"><%= getNameFromPath(checkpoint.filePath) %></a> ...
        <a href="/api/actions/projects/<%= project.id %>/model/<%= model.id %>/checkpoint/<%= checkpoint.id %>/delete">[X]</a>
        <% if (project.volumes.length > 0 && project.volumes[0].rawData != null && project.volumes[0].rawData.rawFilePath != null && project.volumes[0].rawData.settingsFilePath != null) { %>
            <a href="/api/actions/inference-test/<%= project.volumes[0].rawData.id %>/<%= checkpoint.id %>">   Test Inference</a>
        <% } %>
        <br />
    <% } %>
<% } %>
<hr />
<%- include('foot') -%>